@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";

.actorSelector {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.actorElement {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;


  img {
    border: 2px solid $light-gray !important;
    border-radius: $border-radius;
  }
}

.selectedActor {
  img {
    border: 2px solid $dark-blue !important;
  }
}