.separator {
  margin-top: .75rem;
  opacity: .1;
  border: 1px solid #000000;
  overflow: hidden;

  &[data-orientation='horizontal'] {
    width: 100%;
  }

  &[data-orientation='vertical'] {
    margin-top: 2rem;
    height: calc(95% - 2rem);
    margin-right: 2rem;
  }
}