@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";
@import "src/common/styles/common-clasess.module";

.planContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 60%;

  margin-top: 5rem;

  & > :not(:last-child) {
    margin-right: 5rem;
  }
}

.planTier {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  flex-basis: 15%;

  ul {
    list-style: none;
    padding: 0;

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  span {
    align-items: flex-end;
    margin-bottom: 1rem;

    strong, h3 {
      color: $dark-purple;
      margin: 0;
    }

    display: flex;

    strong {
      font-size: 1.1rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  button {
    font-weight: 600;
    cursor: pointer;
    align-self: stretch;
    height: 3rem;
    color: $dark-blue;
    background-color: $light-blue;
    border-radius: $border-radius;
    border: none;
  }
}

.planTierSelected {
  @extend .planTier;
  border-radius: $border-radius;
  color: $white;
  background-color: $green;
  transform: translateY(-10%);

  button {
    transform: translateY(-25%);
    background-color: transparent;
    cursor: none;
    color: $dark-green;
  }

  span {
    strong, h3 {
      color: $white;
    }
  }
}