@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";

.accordionRoot {
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  padding-bottom: 2rem;
}

.accordionOpen {
  border-radius: $border-radius;
  background-color: $light-blue;
  padding: 1rem;
}

.accordionTrigger {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $gray;
  font-size: .975rem;
  line-height: 21px;
  font-weight: 500;
  width: 100%;

  span {
    display: flex;
    align-items: center;
    width: inherit;

    svg {
      margin-left: auto;
    }

    [data-state='closed'] & {
      svg {
        color: $gray !important;
        transform: rotate(180deg);
      }
    }
  }

  &[data-state='open'] {
    color: $dark-blue !important;

    [role='separator'] {
      display: none;
    }
  }
}