@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 55%;
  background-color: $dark-white;
  border-radius: 20px;
  padding-bottom: 1rem;

  figure {
    position: relative;

    figcaption {
      cursor: pointer;
      position: absolute;
      bottom: 10%;
      left: calc(50% - 2.5rem);
      background-color: $light-blue;
      color: $dark-blue;
      font-size: .9rem;
      line-height: 22px;
      font-weight: 500;
      padding: .5rem 1rem;
      border-radius: $border-radius;
    }
  }
}

.description {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    padding: 1rem;
    background-color: $white;
    min-height: 50%;
    max-width: 90%;
    width: 90%;
    border-radius: 20px;
    border: none;

    textarea {
      width: 100%;
      border: none;
      font-weight: 500;
      color: $gray;
    }

    button {
      cursor: pointer;
      border: none;
      font-weight: 500;
      background-color: $dark-white;
      color: $gray;
      margin: 1rem 0;
      border-radius: $border-radius;
      padding: .5rem;
    }
  }
}