$white: #FFFFFF;
$red: #EE6363;
$gold: #E7AB11;
$teal: #12B1B1;
$blue: #5C90F3;
$gray: #999999;
$light-gray: #CCCCCC;
$dark-gray: #666666;
$dark-white: #F4F4F4;
$dark-blue: #3860AD;
$green: #46B13D;
$dark-green: #1C7714;
$light-blue: #EBF2FF;
$dark-purple: #181059;
$light-black: #222222;

$light-gold: lighten($gold, .5);
$light-red: lighten($red, .5);
$light-teal: lighten($teal, .5);

:export {
  white: $white;
  $red: $red;
  $gold: $gold;
  $light-gold: $light-gold;
  $light-red: $light-red;
  $light-teal: $light-teal;
  blue: $blue;
}