@import "common-values.module";
@import "colours.module";

.formButton {
  font-weight: 600;
  background-color: $green;
  align-self: center;
  padding: 6px 20px;
  border-radius: $border-radius;
  border: none;
  color: $white;
  font-size: 0.875rem;
  cursor: pointer;
}

.header1 {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 22px;
}

.pageHeaderTitle {
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
      @extend .header1;
    }
  }
}

.authPages {
  background-image: url("/images/login-background.png");
  background-repeat: no-repeat;
  background-position: right top;
  // Take into account the sidebar width
  margin-left: -5%;

  h1 {
    position: absolute;
    top: 0;
    left: 5%;
    font-weight: 500;
    line-height: 33px;
    font-size: 1.375rem;
  }
}

.headerWithButtons {
  width: 98% !important;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  margin-bottom: 2rem;

  span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}