@font-face {
  font-family: "Poppins", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
  font-display: swap;
}