@import "./colours.module";

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: $white;
  min-height: 100%;
}

#__next {
  height: inherit;
  display: flex;
  flex-direction: row;
}