@import "common-clasess.module";

.center-frame {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 21px;
  width: 150%;

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a, p {
    font-size: 0.8125rem;
    font-weight: 500;
  }

  a {
    color: $dark-blue;
    cursor: pointer;
    text-decoration: none;
  }

  p {
    align-self: center;
    margin-top: auto;
  }

  button {
    @extend .formButton
  }
}