@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";
@import "src/common/styles/layouts.module";

.dashboard {
  @extend .center-frame;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.mainView {
  display: flex;
  align-items: flex-start;
  height: inherit;
  width: 100%;
}

.videoScreen {
  flex-basis: 50%;
  min-width: 50%;
}

.tabs {
  flex-basis: 45%;
  max-width: 45%;
  margin-left: 2rem;
}
