@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";

.iconButton {
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  padding: 1rem;
  border: none;
  margin: .5rem;

  svg {
    color: $gray;
  }

  &selected, &:hover {
    background-color: $light-blue;

    svg {
      color: $blue;
    }
  }
}