@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";
@import "src/common/styles/layouts.module";

.signup {
  @extend .center-frame;
  @extend .authPages;
}

.signupForm {
  @extend .form;
  height: 25rem !important;
}


.passwordLabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;

  p {
    padding: 0 !important;
    margin: 0 !important;
  }

  p:last-of-type {
    cursor: pointer;
    color: $green;
  }
}