.sidebar {
  display: flex;
  flex-direction: row;
  min-width: 110px;

  align-items: flex-start;
}

.menu {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  width: 100%;

  span:first-of-type {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}