@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";

.tag {
  cursor: pointer;
  background-color: $dark-white;
  color: $dark-gray;
  border: 1px solid $dark-gray;
  border-radius: $border-radius;
  font-weight: 400;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  padding: .45rem 1.25rem;
  vertical-align: middle;
  margin: .25rem;

  &:hover {
    font-weight: bold;
  }

  &:disabled {
    font-weight: normal !important;
    cursor: default;
  }

  &[data-state=on] {
    border: 1px solid $green;
    background-color: $green;
    color: white;
  }
}
