@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";
@import "src/common/styles/common-clasess.module";

.savedVideos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  @extend .pageHeaderTitle;

  section {
    width: auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.thumbnailContainer {
  background-color: $dark-white;
  border-radius: $border-radius;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: calc(#{$xll} + 1px)) {
    grid-column: 1/3;
  }
  @media only screen and (max-width: $xll) {
    grid-column: 1/5;
  }

  figure {
    position: relative;
    margin: .5rem;

    figcaption {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 19px;
    }

    button {
      cursor: pointer;
      position: absolute;
      background-color: transparent;
      border: none;
      top: .5rem;
      right: 1rem;
    }
  }

  span {
    display: flex;
    flex-wrap: wrap;

    button:not(:last-child) {
      margin-right: 1rem;
    }
  }
}