@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";

.voiceSelectorContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.playing {
  color: $dark-blue;
  background-color: $light-blue;
  border: 1px solid $dark-blue;
}

.paused {
  color: $gray;
  background-color: $dark-white;
}

.audioPlayer {
  width: auto;
  height: auto;
  display: flex;
  border-radius: $border-radius;
  padding: .5rem 1rem;
  margin: 1rem 0;
  align-items: center;

  p {
    margin: .25rem !important;
  }
}

.controls {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.audioPlayerSoundWave {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.soundWave {
  width: 100% !important;
}