@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";
@import "src/common/styles/common-clasess.module";

.profileForm {
  margin-top: 3rem;
  margin-left: 1rem;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-column-gap: 1.5rem;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.editIcon {
  grid-column: 3;
  grid-row: 1/2;
}

.avatar {
  grid-column: 1/3;
  grid-row: 1/2;
}

.firstnameInput {
  grid-column: 1/5;
  grid-row: 3;
}

.lastnameInput {
  grid-column: 5/9;
  grid-row: 3;
}

.emailInput {
  grid-row: 4;
  grid-column: 1/5;
}

.button {
  grid-row: 5;
  grid-column: 1/3;
  place-self: center;
}