@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";
@import "src/common/styles/layouts.module";


.alignmentContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 2rem;
  }
}


.alignmentButtonActive {
  background-color: $light-blue !important;
  color: $dark-blue !important;
  font-weight: 600 !important;
  border: 1px solid $dark-blue !important;
}

.alignmentButton {
  cursor: pointer;
  background-color: $dark-white;
  border-radius: $border-radius;
  color: $gray;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  width: 35%;

  &:hover {
    @extend .alignmentButtonActive
  }
}