@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";
@import "src/common/styles/common-clasess.module";

.billingContainer {
  @media only screen and (max-width: $xll) {
    width: 70%;
  }
  width: 60%;
  margin-top: 5rem;
}

.billingTable {
  table-layout: fixed;
  width: 100%;

  thead {
    th {
      text-transform: uppercase;
      color: $light-black;
      opacity: .5;
      text-align: left;
      font-weight: 699;
      font-size: 0.875rem;
    }
  }

  tbody {
    tr {
      td {
        width: 25%;
        font-size: 0.975rem;
        font-family: Poppins, sans-serif;
        font-weight: 500;
        text-align: left;
        padding-top: 3rem;
        padding-right: 4rem;
      }
    }
  }
}