@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";

.labelStyle {
  *, & {
    font-size: .875rem !important;
    font-weight: 400 !important;
    margin-bottom: .5rem !important;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin: .25rem;

  input {
    padding: .4rem;
    border-radius: $border-radius;
    border: 1px solid $gray;

    &:focus, &:active {
      border: 1px solid $blue
    }

    &::placeholder {
      color: $light-gray;
      font-size: .9rem;
      font-weight: 500;
    }
  }
}