@import "src/common/styles/common-values.module";
@import "src/common/styles/colours.module";
@import "src/common/styles/common-clasess.module";

.profileContainer {
  @extend .pageHeaderTitle;
  width: 100%;

  header {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2rem;
  }
}

.tabContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
