@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";
@import "src/common/styles/common-clasess.module";

.videoOverlay {
  background-color: $dark-white;
  opacity: .75;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99;
  top: 0;
}

.videoOverlayContent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.videoOverlayControls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .5rem 0 0 9rem;

  input {
    border: none;
    background: transparent;
    color: $dark-blue;
    border-bottom: 1px solid $dark-blue;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 33px;
  }

  textarea {
    font-weight: 400;
    line-height: 22.5px;
    margin-top: 2rem;
    background-color: transparent;
    border: none;
    color: $dark-gray;
    overflow: hidden;
    width: 75%;
    max-width: 75%;
  }

  .saveButton {
    @extend .formButton;
    margin-top: 2rem;
    align-self: flex-start !important;
  }

  div {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60%;

    & > button:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.videoDescription {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  flex-direction: column;
  margin-bottom: 2rem;

  span {
    display: flex;
  }

  svg {
    transform: rotate(180deg);
  }

  h1 {
    @extend .header1;
  }
}

@mixin commonButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: $border-radius;
  padding: 6px 20px;
  margin-right: auto;
}

.arrowButton {
  @include commonButton;

  &:hover {
    background-color: $dark-white;
  }
}

.cancelButton {
  @include commonButton;
  color: $gray;
  margin-right: 1rem;
  background-color: $dark-white;
  font-size: 0.875rem;
  align-self: center;
  font-weight: 600;
}