@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";
@import "src/common/styles/layouts.module";

.tabsList {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 3rem;
  }
}

.tabsTrigger {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 0.975rem;
  color: $gray;


  &:hover, &[data-state='active'] {
    color: $dark-blue;
  }
}
