@import "src/common/styles/colours.module";
@import "src/common/styles/common-values.module";
@import "src/common/styles/layouts.module";

.login {
  @extend .center-frame;
  @extend .authPages;
}

.error {
  color: $red !important;
  font-weight: bold;
}

.passwordLabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;

  p {
    padding: 0 !important;
    margin: 0 !important;
  }

  p:last-of-type {
    cursor: pointer;
    color: $dark-blue;
  }
}